@*@model List<Lesson1.Models.Product> //Kicik herfli model gelen datanin tipini mueyyen edir.



<ul>
    @foreach(var product in Model)
    {
        <li>@product.ProductName</li>
    }
</ul>*@



@*<ul>
    @foreach(var product in ViewBag.products as List<Lesson1.Models.Product)
    {
        <li>@product.ProductName</li>
    }
</ul>*@


@*<ul>
    @foreach(var product in ViewData.["products"] as List<Lesson1.Models.Product)
    {
        <li>@product.ProductName</li>
    }
</ul>*@

@*<ul>
    @foreach(var product in TempData["products"] as List<Lesson1.Models.Product)
    {
        <li>@product.ProductName</li>
    }
</ul>*@
