
<li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/home/index">Anasehife</a>
 
 </li>
 <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/home/Sehife1">Sehife1</a>

 </li>
 <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/home/Sehife2">Sehife2</a>

  </li>