@model PersonelCreateVM

<form asp-action="Index" asp-controller="Personel" method="post">
    <input type="text" asp-for="Ad" /><br />
    <input type="text" asp-for="Soyad" /><br />
    <button>Gonder</button>
</form>
